<h1>Fur Face</h1>
<p>The Latest and greatest in meow tech. Use the links below to make it great!</p>

<div class="nav-links">
  <p>Add a <%= link_to 'Cat Here', cats_path %>.</p>
  <p>Add an <%= link_to 'Owner Here', owners_path %>.</p>
  <p>Link a Cat and an Owner <%= link_to 'Here', new_cat_owner_path %>.</p>
</div>
